{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>

    </head>
	<body>
		

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Login</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Login</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						{% if msg%}
							<b style="color:red">{{msg}}</b>
						{% endif %}
						<form name="form" method="post" action="{% url 'login'%}">
								{% csrf_token %}
							
							<div class="form-group">
								<input class="input" type="email" name="email" placeholder="Email">
							</div>
							
							<div class="form-group">
								<input class="input" type="password" name="password" placeholder="Password">
							</div>
							
							<div class="form-group">
								<input class="btn btn-danger" type="submit" name="action" value="Login">
							</div>
						</form>	
					</div>
				</div>
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		
	</body>
</html>
{% endblock %}
