{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
    </head>
	<body>
		

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">{{product.product_name}}</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{{product.product_image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.product_image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.product_image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.product_image.url}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{{product.product_image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.product_image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.product_image.url}}" alt="">
							</div>

							<div class="product-preview">
								<img src="{{product.product_image.url}}" alt="">
							</div>
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{product.product_name}}</h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<a class="review-link" href="#">10 Review(s) | Add your review</a>
							</div>
							<div>
								<h3 class="product-price">Rs.{{product.product_price}}</del></h3>
								<span class="product-available">In Stock</span>
							</div>
							<p>{{product.product_desc}}</p>	

						</div>
						<div>
							<a href="#"><button class="btn btn-primary">Add To Cart</button></a>
							<a href="{% url 'add-to-wishlist' pk=product.pk%}"><button class="btn btn-danger">Add To Wishlist</button></a>
						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION --

		
	</body>
</html>
{% endblock %}