{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		

    </head>
	<body>

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				
				<div class="col-md-12">
						<div class="section-title">
							{% if wishlists %}
								<h3 class="breadcrumb-header">Wishlist</h3>
							{% else %}
								<h3 class="breadcrumb-header">No Product In Wishlist</h3>
							{% endif %}

							<div class="section-nav">
								<ul class="section-tab-nav tab-nav">
									<li class="active"><a  href="{% url 'seller-view-product' %}">All</a></li>
									<li><a  href="{% url 'seller-view-laptops'%}">Laptops</a></li>
									<li><a  href="{% url 'seller-view-cameras'%}">Cameras</a></li>
									<li><a  href="{% url 'seller-view-accessories'%}">Accessories</a></li>
								</ul>
							</div>
						</div>
					</div>

			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container" style="padding-bottom: 100px;">
				<!-- row -->
				<div class="row">


					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										{% for i in wishlists %}
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{{i.product.product_image.url}}" alt="" width="250px" height="250px">
											</div>
											<div class="product-body">
												<p class="product-category">{{i.product.product_category}}</p>
												<h3 class="product-name"><a href="#">{{i.product.product_name}}</a></h3>
												<h4 class="product-price">Rs.{{i.product.product_price}}</h4>
												
											</div>
											<div class="add-to-cart">
												<a href="{% url 'product-details' pk=i.product.pk %}"><button class="add-to-cart-btn">Product Details</button></a>
											</div>
										</div>
										<!-- /product -->
										{% endfor %}
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		

	</body>
</html>
{% endblock %}
